.donate {
  width: 100%;
}
.razorpay-embed-btn {
  text-align: center;
}
.white-form {
  background-color: #96baff;
  padding: 15px;
  width: 350px;
  margin-left: 30px;
  margin-top: 0px;
  margin-right: 20px;
  position: absolute;
  top: 240px;
  right: 50px;
}

.no {
  text-align: center;
  font-weight: 700;
}

.nav-item {
  margin-left: 25px;
}

.mainimg {
  width: 100%;
  min-height: 130vh;
  background-image: url(main.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
}

@import url("https://fonts.googleapis.com/css?family=Source+Code+Pro");

.panime {
  border-right: solid 3px rgba(0, 255, 0, 0.75);
  white-space: nowrap;
  overflow: hidden;
  font-family: "Source Code Pro", monospace;
  font-size: 35px;
  color:Pink;
  font-weight: 1400;
  position: absolute;
  top: 0;
  margin-top: 110px;
  margin-left: 380px;
}

/* Animation */
.panime {
  animation: animated-text 4s steps(29, end) 1s 1 normal both,
    animated-cursor 600ms steps(29, end) infinite;
}

/* text animation */

@keyframes animated-text {
  from {
    width: 0;
  }
  to {
    width: 730px;
  }
}

/* cursor animations */

@keyframes animated-cursor {
  from {
    border-right-color: rgba(0, 255, 0, 0.75);
  }
  to {
    border-right-color: transparent;
  }
}

.blackbtn {
  margin-right: 10px;
  margin-top: 35px;
}
.whitebtn {
  margin-right: 10px;
  margin-top: 35px;
}

.copy {
  text-align: center;
  color: white;
  position: relative;
  bottom: 0;
}

.fn {
  padding-left: 5px;
  margin-bottom: 14px;
}

.cty {
  padding-left: 5px;
  margin-bottom: 14px;
}

.email {
  padding-left: 5px;
  margin-bottom: 14px;
}

.phn {
  margin-bottom: 14px;
  padding-left: 5px;
}

.msg {
  padding-left: 5px;
  margin-bottom: 20px;
}

#last {
  text-align: center;
  background-color: #eeeeee;
  margin-top: 50px;
}

.centering {
  margin-left: 25%;
}

.aboutimg {
  width: 100%;
}

#about {
  margin: 10px;
}

.ngop {
  margin-top: 20px;
  font-size: 30px;
  font-family: "Dancing Script", cursive;
}

.abouth {
  text-align: center;
  font-family: "Roboto", sans-serif;
}

#copyright {
  background-color: #11999E;
  color: white;
  position: relative;
  top: 0px;
  margin-top: 50px;
  text-align: center;
  padding: 10px;
}
